

input#tweet {
	width: 90%;
	resize: vertical;
	height: 60px;
	/*height: auto;*/
}

input#submit {
	font-family: Lato, Sans-Serif;
	background-color: #847d60;
}

.header {
	background-color: #847d60;
}