<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Klasifikasi</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
    <!-- <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainpage.css') }}"> -->
</head>
<body style="font-family: Lato, Sans-Serif;">
<div class="container" style="text-align:center;">
    <h2 style="text-align:center; background-color: #847d60; margin: 0; padding: 40px 0;">Klasifikasi Keluhan</h2>
    <form action="{{url_for('index')}}" method='POST' style="width: 100%">
      <br><br><br>
      <h3 style="text-align:center;">{{ form.tweet.label }}</h3>
      <div class="w-100">{{ form.tweet }}</div><br>
        {{ form.submit }}

    </form>
    <br><br><br>
    <h3 style="text-align:center;">Klasifikasi</h3>
    <p style="width: 100%;">{{ classification }}</p>
</body>
</html>